body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.head-example {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}

.rbc-event {
    padding: 2px 5px;
    background-color: rgb(58, 135, 173);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.rbc-event.rbc-selected {
    background-color: rgb(92, 184, 92);
    color: black;
}

.rbc-event.related {
    background-color: rgb(60, 152, 60);
}

.rbc-event.all-day {
    background-color: rgb(58, 135, 135);
}

.hidden {
    display: none !important;
}

.float-right {
    z-index: 99;
    float:right;
}

.sortable {
    color: #aaaaaa;
    cursor: pointer;
}
.sortable:hover {
    color: #555555;
    cursor: pointer;
}
.sortby {
    color: #000000;
}